img {
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
  border: 2px solid black;
}

/* /* header {
  padding-bottom: 40px;
} */

body {
  font-family: 'Acme', sans-serif;
  background-image: linear-gradient(#daeaf7, #4fa5d8);
}

 #posts-new {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  padding: 40px;
  /* margin: 0;
  border: 2px solid #eee;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  border-radius: 10px;
  width: 100%; */
}

/* .box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  padding: 5px;
} */

/* button {
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #eee;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  border-radius: 10px;
  width: 100%;
} */

/* .cards  {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
} */

#posts-index {
  padding: 40px;
}

#posts-index img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  /* padding: 20px; */
  border: 2px solid black;
  border-radius: 20px;
}

/* html {
  scroll-behavior: smooth;
} */